.weatherapp {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 30px auto;
  border-radius: 6px;
  max-width: 600px;
  background: #ffffff;
  box-shadow: 10px 5px 5px #f2f0f9;
}
h1 {
  font-size: 44px;
  margin-bottom: 0;
  padding-top: 5px;
}
body {
  background: #f9f7fe;
}
