.search-bar {
  background: #f9f7fe;
}
.search-button {
  background: #d6d6d6;
}

i {
  text-align: center;
}
.footer {
  text-align: center;
  font-size: 12px;
  color: #828388;
}
.date,
.attributes,
.description {
  color: #828388;
  line-height: 16px;
}
.description:first-letter {
  text-transform: capitalize;
}

.forecast {
  padding-top: 0px;
}
.currentWeather {
  position: relative;
  padding-left: 0px;
  top: -50px;
}
.currentDegree,
.weatherIcon {
  font-size: 80px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -38px;
}
.currentWeather .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.currentWeather .active:hover {
  text-decoration: none;
}
.min-forecast {
  color: #828388;
}
.col-2 {
  text-align: center;
}
